In [6]:
import pandas as pd

In [7]:
data=pandas.read_csv("testset.csv")

In [8]:
data

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,19961101-11:00,Smoke,9.0,0,0,NaN,27.0,NaN,1010.0,0,0,30.0,0,0,5.0,280.0,West,NaN,NaN,7.4
1,19961101-12:00,Smoke,10.0,0,0,NaN,32.0,NaN,-9999.0,0,0,28.0,0,0,NaN,0.0,North,NaN,NaN,NaN
2,19961101-13:00,Smoke,11.0,0,0,NaN,44.0,NaN,-9999.0,0,0,24.0,0,0,NaN,0.0,North,NaN,NaN,NaN
3,19961101-14:00,Smoke,10.0,0,0,NaN,41.0,NaN,1010.0,0,0,24.0,0,0,2.0,0.0,North,NaN,NaN,NaN
4,19961101-16:00,Smoke,11.0,0,0,NaN,47.0,NaN,1011.0,0,0,23.0,0,0,1.2,0.0,North,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100985,20170424-06:00,Haze,17.0,0,0,NaN,25.0,NaN,1005.0,0,0,34.0,0,0,4.0,320.0,NW,NaN,NaN,11.1
100986,20170424-09:00,Haze,14.0,0,0,NaN,16.0,NaN,1003.0,0,0,38.0,0,0,4.0,320.0,NW,NaN,NaN,22.2
100987,20170424-12:00,Haze,12.0,0,0,NaN,14.0,NaN,1002.0,0,0,36.0,0,0,4.0,270.0,West,NaN,NaN,18.5
100988,20170424-15:00,Haze,15.0,0,0,NaN,27.0,NaN,1004.0,0,0,32.0,0,0,2.0,320.0,NW,NaN,NaN,3.7
100989,20170424-18:00,Haze,15.0,0,0,NaN,30.0,NaN,1005.0,0,0,30.0,0,0,2.0,320.0,NW,NaN,NaN,3.7

In [9]:
data.describe()

,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wgustm,_windchillm,_wspdm
count,100369.000000,100990.000000,100990.000000,29155.000000,100233.000000,0.0,1.007580e+05,100990.000000,100990.000000,100317.000000,100990.000000,100990.00000,96562.000000,86235.000000,1072.000000,579.000000,98632.000000
mean,15.741205,0.069690,0.000129,35.651710,57.909481,NaN,1.932331e+03,0.026260,0.000010,25.451269,0.009427,0.00002,2.402774,163.549974,37.671175,5.713817,7.678463
std,7.058587,0.254625,0.011345,5.015384,23.807771,NaN,3.183786e+05,0.159908,0.003147,8.482859,0.096633,0.00445,20.746028,120.002076,6.848666,1.203290,11.932157
min,-24.000000,0.000000,0.000000,26.800000,4.000000,NaN,-9.999000e+03,0.000000,0.000000,1.000000,0.000000,0.00000,0.000000,0.000000,25.900000,2.100000,0.000000
25%,10.000000,0.000000,0.000000,31.700000,39.000000,NaN,1.002000e+03,0.000000,0.000000,19.000000,0.000000,0.00000,1.500000,50.000000,33.300000,4.900000,0.000000
50%,15.000000,0.000000,0.000000,35.100000,59.000000,NaN,1.008000e+03,0.000000,0.000000,27.000000,0.000000,0.00000,2.000000,160.000000,37.000000,6.100000,7.400000
75%,22.000000,0.000000,0.000000,39.200000,78.000000,NaN,1.014000e+03,0.000000,0.000000,32.000000,0.000000,0.00000,3.000000,270.000000,40.700000,6.800000,11.100000
max,75.000000,1.000000,1.000000,73.600000,243.000000,NaN,1.010614e+08,1.000000,1.000000,90.000000,1.000000,1.00000,6436.000000,960.000000,92.600000,7.300000,1514.900000

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100990 entries, 0 to 100989
Data columns (total 20 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   datetime_utc  100990 non-null  object
 1    _conds       100918 non-null  object
 2    _dewptm      100369 non-null  float64
 3    _fog         100990 non-null  int64
 4    _hail        100990 non-null  int64
 5    _heatindexm  29155 non-null   float64
 6    _hum         100233 non-null  float64
 7    _precipm     0 non-null       float64
 8    _pressurem   100758 non-null  float64
 9    _rain        100990 non-null  int64
 10   _snow        100990 non-null  int64
 11   _tempm       100317 non-null  float64
 12   _thunder     100990 non-null  int64
 13   _tornado     100990 non-null  int64
 14   _vism        96562 non-null   float64
 15   _wdird       86235 non-null   float64
 16   _wdire       86235 non-null   object
 17   _wgustm      1072 non-null    float64
 18   _windchillm  579 non-null     float64
 19   _wspdm       98632 non-null   float64
dtypes: float64(11), int64(6), object(3)
memory usage: 15.4+ MB

In [14]:
data.isna()

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
1,False,False,False,False,False,True,False,True,False,False,False,False,False,False,True,False,False,True,True,True
2,False,False,False,False,False,True,False,True,False,False,False,False,False,False,True,False,False,True,True,True
3,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,True
4,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100985,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
100986,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
100987,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
100988,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
100989,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False

In [16]:
data.isna().sum()

datetime_utc         0
 _conds             72
 _dewptm           621
 _fog                0
 _hail               0
 _heatindexm     71835
 _hum              757
 _precipm       100990
 _pressurem        232
 _rain               0
 _snow               0
 _tempm            673
 _thunder            0
 _tornado            0
 _vism            4428
 _wdird          14755
 _wdire          14755
 _wgustm         99918
 _windchillm    100411
 _wspdm           2358
dtype: int64

In [21]:
data_cleaned=data.fillna(method="ffill").fillna(method="bfill")
data_cleaned.shape

(100990, 20)

In [22]:
data.mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of           datetime_utc  _conds   _dewptm   _fog   _hail   _heatindexm   _hum  \
0       19961101-11:00   Smoke       9.0      0       0           NaN   27.0
1       19961101-12:00   Smoke      10.0      0       0           NaN   32.0
2       19961101-13:00   Smoke      11.0      0       0           NaN   44.0
3       19961101-14:00   Smoke      10.0      0       0           NaN   41.0
4       19961101-16:00   Smoke      11.0      0       0           NaN   47.0
...                ...     ...       ...    ...     ...           ...    ...
100985  20170424-06:00    Haze      17.0      0       0           NaN   25.0
100986  20170424-09:00    Haze      14.0      0       0           NaN   16.0
100987  20170424-12:00    Haze      12.0      0       0           NaN   14.0
100988  20170424-15:00    Haze      15.0      0       0           NaN   27.0
100989  20170424-18:00    Haze      15.0      0       0           NaN   30.0

         _precipm   _pressurem   _rain   _snow   _tempm   _thunder   _tornado  \
0             NaN       1010.0       0       0     30.0          0          0
1             NaN      -9999.0       0       0     28.0          0          0
2             NaN      -9999.0       0       0     24.0          0          0
3             NaN       1010.0       0       0     24.0          0          0
4             NaN       1011.0       0       0     23.0          0          0
...           ...          ...     ...     ...      ...        ...        ...
100985        NaN       1005.0       0       0     34.0          0          0
100986        NaN       1003.0       0       0     38.0          0          0
100987        NaN       1002.0       0       0     36.0          0          0
100988        NaN       1004.0       0       0     32.0          0          0
100989        NaN       1005.0       0       0     30.0          0          0

         _vism   _wdird  _wdire   _wgustm   _windchillm   _wspdm
0          5.0    280.0    West       NaN           NaN      7.4
1          NaN      0.0   North       NaN           NaN      NaN
2          NaN      0.0   North       NaN           NaN      NaN
3          2.0      0.0   North       NaN           NaN      NaN
4          1.2      0.0   North       NaN           NaN      0.0
...        ...      ...     ...       ...           ...      ...
100985     4.0    320.0      NW       NaN           NaN     11.1
100986     4.0    320.0      NW       NaN           NaN     22.2
100987     4.0    270.0    West       NaN           NaN     18.5
100988     2.0    320.0      NW       NaN           NaN      3.7
100989     2.0    320.0      NW       NaN           NaN      3.7

[100990 rows x 20 columns]>

In [26]:
data_cleaned

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,19961101-11:00,Smoke,9.0,0,0,NaN,27.0,NaN,1010.0,0,0,30.0,0,0,5.0,280.0,West,NaN,NaN,7.4
1,19961101-12:00,Smoke,10.0,0,0,NaN,32.0,NaN,-9999.0,0,0,28.0,0,0,NaN,0.0,North,NaN,NaN,NaN
2,19961101-13:00,Smoke,11.0,0,0,NaN,44.0,NaN,-9999.0,0,0,24.0,0,0,NaN,0.0,North,NaN,NaN,NaN
3,19961101-14:00,Smoke,10.0,0,0,NaN,41.0,NaN,1010.0,0,0,24.0,0,0,2.0,0.0,North,NaN,NaN,NaN
4,19961101-16:00,Smoke,11.0,0,0,NaN,47.0,NaN,1011.0,0,0,23.0,0,0,1.2,0.0,North,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100985,20170424-06:00,Haze,17.0,0,0,NaN,25.0,NaN,1005.0,0,0,34.0,0,0,4.0,320.0,NW,NaN,NaN,11.1
100986,20170424-09:00,Haze,14.0,0,0,NaN,16.0,NaN,1003.0,0,0,38.0,0,0,4.0,320.0,NW,NaN,NaN,22.2
100987,20170424-12:00,Haze,12.0,0,0,NaN,14.0,NaN,1002.0,0,0,36.0,0,0,4.0,270.0,West,NaN,NaN,18.5
100988,20170424-15:00,Haze,15.0,0,0,NaN,27.0,NaN,1004.0,0,0,32.0,0,0,2.0,320.0,NW,NaN,NaN,3.7
100989,20170424-18:00,Haze,15.0,0,0,NaN,30.0,NaN,1005.0,0,0,30.0,0,0,2.0,320.0,NW,NaN,NaN,3.7

In [24]:
data_cleaned=data.drop_duplicates()
data_cleaned.shape

(100990, 20)

In [37]:
data["datetime_utc"]=pd.to_datetime(data["datetime_utc"])
data.info

<bound method DataFrame.info of               datetime_utc  _conds   _dewptm   _fog   _hail   _heatindexm  \
0      1996-11-01 11:00:00   Smoke       9.0      0       0           NaN
1      1996-11-01 12:00:00   Smoke      10.0      0       0           NaN
2      1996-11-01 13:00:00   Smoke      11.0      0       0           NaN
3      1996-11-01 14:00:00   Smoke      10.0      0       0           NaN
4      1996-11-01 16:00:00   Smoke      11.0      0       0           NaN
...                    ...     ...       ...    ...     ...           ...
100985 2017-04-24 06:00:00    Haze      17.0      0       0           NaN
100986 2017-04-24 09:00:00    Haze      14.0      0       0           NaN
100987 2017-04-24 12:00:00    Haze      12.0      0       0           NaN
100988 2017-04-24 15:00:00    Haze      15.0      0       0           NaN
100989 2017-04-24 18:00:00    Haze      15.0      0       0           NaN

         _hum   _precipm   _pressurem   _rain   _snow   _tempm   _thunder  \
0        27.0        NaN       1010.0       0       0     30.0          0
1        32.0        NaN      -9999.0       0       0     28.0          0
2        44.0        NaN      -9999.0       0       0     24.0          0
3        41.0        NaN       1010.0       0       0     24.0          0
4        47.0        NaN       1011.0       0       0     23.0          0
...       ...        ...          ...     ...     ...      ...        ...
100985   25.0        NaN       1005.0       0       0     34.0          0
100986   16.0        NaN       1003.0       0       0     38.0          0
100987   14.0        NaN       1002.0       0       0     36.0          0
100988   27.0        NaN       1004.0       0       0     32.0          0
100989   30.0        NaN       1005.0       0       0     30.0          0

         _tornado   _vism   _wdird  _wdire   _wgustm   _windchillm   _wspdm
0               0     5.0    280.0    West       NaN           NaN      7.4
1               0     NaN      0.0   North       NaN           NaN      NaN
2               0     NaN      0.0   North       NaN           NaN      NaN
3               0     2.0      0.0   North       NaN           NaN      NaN
4               0     1.2      0.0   North       NaN           NaN      0.0
...           ...     ...      ...     ...       ...           ...      ...
100985          0     4.0    320.0      NW       NaN           NaN     11.1
100986          0     4.0    320.0      NW       NaN           NaN     22.2
100987          0     4.0    270.0    West       NaN           NaN     18.5
100988          0     2.0    320.0      NW       NaN           NaN      3.7
100989          0     2.0    320.0      NW       NaN           NaN      3.7

[100990 rows x 20 columns]>